:root {
	--fondo: #f2f2f2;
	--color-temario: #6c73b8b2;
	--temario-active: #4614bb;
	--temario-active-border: #3023dfcc;
}

html{
    scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.contenedor{
    max-width: 888px;
    width: 98%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% auto;
}

aside{
    padding: 0 15px;

}

aside .titulo{
    margin-bottom: 18px;
    font-family: 'Text Me One', sans-serif;
    text-align: center;
    font-size: 32px;
}

aside .contenedor-temario{
    padding-top: 28px;
    position: sticky;
    top: 0;
}

aside .lista{
    list-style: none;
    
    padding-left: 10px;
    margin-left: 10px;
}

aside .lista li{
    position: relative;
    
}
aside .lista li a{
    font-family: 'Text Me One', sans-serif;
    display: block;
    color: #5a5a5a;
    padding: 15px 10px;
    text-decoration: none;
    transition: .3s ease all;
}

aside .lista li.activo a,
aside .lista li a:hover{
    color: black;
}

aside .lista li::before{
    border-radius: 50px;
    content: "";
    display: block;
    height: 12px;
    width: 12px;
    background: var(--fondo);
    position: absolute;
    left: -19px;
    top: calc(50% - 10px);
    border: 2px solid var(--color-temario);
    transform: rotate(45deg);
    transition: .3s ease all;
    
}
aside .lista li.activo::before{
    background: var(--temario-active);
    border: 2px solid var(--temario-active-border);
}

aside .lista li:hover::before{
    border: 2px solid var(--temario-active-border);
}

main{
    min-height: 2000px;
}

.card{
    border-radius: 25px;
    margin:  20px 0 ;
    padding: 40px;
    background: white;
}

.card h1{
    font-family: 'Text Me One', sans-serif;
}

.card p{
    font-family: 'Teko', sans-serif;
    font-size: 18px;
}